p {
	color: snow;
	background: black;
	font-weight: bold;
	text-align: center;
}
<body>
	<p> &lt; </p>
	<style>
		h1{
			padding: 2rem;
	text-shadow: 5px 5px blue;
	}
	</style>
		<link rel = "stylesheet" type = "text/css" href = "Basic_CSS_2.css">
		<p>styled font.</P>
		<h1>CSS text-shadow</h1>
		</body>